<BSToaster />
@page "/materias"
@using SchoolSystem.Core.DTOs.Materia
@using SchoolSystem.UI.FrontEnd.Services
@using BlazorStrap
@inject IBlazorStrap blazorStrap
@inject MateriaService materiaService
@inject NavigationManager navigation

<h2 class="text-center">MATERIAS</h2>

@if (materias == null)
{
    <p class="text-center text-primary">LOADING...</p>
}
else
{
    <BSButton Color="BlazorStrap.BSColor.Success" @onclick="CrearMateria">Registrar Nueva Materia</BSButton>

    <BSTable class="table-responsive-lg" Color="OTableColor" IsResponsive="OIsResponsive" IsBordered="OIsBordered" IsBorderLess="OIsBorderLess" IsCaptionTop="OIsCaptionTop" IsStriped="OIsStriped">
        <caption class="text-black">Lista de Materias</caption>
        <BSTHead>
            <BSTR>
                <BSTD>Id</BSTD>
                <BSTD>Materia</BSTD>
                <BSTD>Acciones</BSTD>
            </BSTR>
        </BSTHead>
        <BSTBody>
            @foreach (var materia in materias)
            {
                <BSTR>
                    <BSTD AlignRow="OAlignRow" Color="OTDColor" IsActive="OIsActive">@materia.Id</BSTD>
                    <BSTD>@materia.Nombre</BSTD>
                    <BSTD>
                        <NavLink class="btn btn-primary" href="@GetEditUrl(materia.Id)">
                            <i class="fas fa-edit"></i> Editar
                        </NavLink>
                        <BSButton Color="BlazorStrap.BSColor.Danger" @onclick="() => DeleteMateria(materia.Id)">Eliminar</BSButton>
                    </BSTD>
                </BSTR>
            }
        </BSTBody>
    </BSTable>
}

@code{
    private List<MateriaDTO> materias;
    private MateriaDTO materia = new MateriaDTO();

    private BSColor OTableColor { get; set; } = BSColor.Default;
    private bool OIsResponsive { get; set; } = true;
    private bool OIsBordered { get; set; }
    private bool OIsBorderLess { get; set; }
    private bool OIsCaptionTop { get; set; } = true;
    private bool OIsStriped { get; set; } = true;
    private AlignRow OTRAlignRow { get; set; }
    private BSColor OTRColor { get; set; } = BSColor.Default;
    private bool OTRIsActive { get; set; }
    private AlignRow OAlignRow { get; set; }
    private BSColor OTDColor { get; set; } = BSColor.Default;
    private bool OIsActive { get; set; }

    protected override async Task OnInitializedAsync()
    {
        materias = await materiaService.ListarMateriasAsync();
    }

    private async Task RegistrarMateria()
    {
        try
        {
            await materiaService.RegistrarMateriaAsync(materia);
            blazorStrap.Toaster.Add("¡Materia registrada exitosamente!", options => options.CloseAfter = 5000);
            materias = await materiaService.ListarMateriasAsync();
        }
        catch (Exception ex)
        {
            blazorStrap.Toaster.Add($"Error al registrar la materia: {ex.Message}", options => options.CloseAfter = 5000);
        }
    }

    private async Task DeleteMateria(int id)
    {
        try
        {
            await materiaService.EliminarMateriaAsync(id);
            materias.RemoveAll(c => c.Id == id);

            blazorStrap.Toaster.Add("Materia eliminada correctamente", o =>
            {
                o.Color = BSColor.Danger;
                o.HasIcon = true;
                o.CloseAfter = 5000;
            });
        }
        catch (Exception ex)
        {
            blazorStrap.Toaster.Add($"Error al eliminar la materia: {ex.Message}", options => options.CloseAfter = 5000);
        }
    }

    private string GetEditUrl(int id)
    {
        return $"materias/edit/{id}";
    }

    private void CrearMateria()
    {
        navigation.NavigateTo("/materias/agregarmateria");
    }
}