<BSToaster />
@page "/cursos"
@using SchoolSystem.Core.DTOs.Curso
@using SchoolSystem.UI.FrontEnd.Services
@using BlazorStrap
@inject IBlazorStrap blazorStrap
@inject CursoService cursoService
@inject NavigationManager navigation

<h2 class="text-center">CURSOS</h2>

@if (cursos == null)
{
    <p class="text-center text-primary">LOADING...</p>
}
else
{
    <BSButton Color="BlazorStrap.BSColor.Success" @onclick="CrearCurso">Registrar Nuevo Curso</BSButton>

    <BSTable class="table-responsive-lg" Color="OTableColor" IsResponsive="OIsResponsive" IsBordered="OIsBordered" IsBorderLess="OIsBorderLess" IsCaptionTop="OIsCaptionTop" IsStriped="OIsStriped">
        <caption class="text-black">Lista de Cursos</caption>
        <BSTHead>
            <BSTR>
                <BSTD>Id</BSTD>
                <BSTD>Curso</BSTD>
                <BSTD>Acciones</BSTD>
            </BSTR>
        </BSTHead>
        <BSTBody>
            @foreach (var curso in cursos)
            {
                <BSTR>
                    <BSTD AlignRow="OAlignRow" Color="OTDColor" IsActive="OIsActive">@curso.Id</BSTD>
                    <BSTD>@curso.Nombre</BSTD>
                    <BSTD>
                        <NavLink class="btn btn-primary" href="@GetEditUrl(curso.Id)">
                            <i class="fas fa-edit"></i> Editar
                        </NavLink>
                        <BSButton Color="BlazorStrap.BSColor.Danger" @onclick="() => DeleteCurso(curso.Id)">Eliminar</BSButton>
                    </BSTD>
                </BSTR>
            }
        </BSTBody>
    </BSTable>
}

@code {
    private List<CursoDTO> cursos;
    private CursoDTO curso = new CursoDTO();

    private BSColor OTableColor { get; set; } = BSColor.Default;
    private bool OIsResponsive { get; set; } = true;
    private bool OIsBordered { get; set; }
    private bool OIsBorderLess { get; set; }
    private bool OIsCaptionTop { get; set; } = true;
    private bool OIsStriped { get; set; } = true;
    private AlignRow OTRAlignRow { get; set; }
    private BSColor OTRColor { get; set; } = BSColor.Default;
    private bool OTRIsActive { get; set; }
    private AlignRow OAlignRow { get; set; }
    private BSColor OTDColor { get; set; } = BSColor.Default;
    private bool OIsActive { get; set; }

    protected override async Task OnInitializedAsync()
    {
        cursos = await cursoService.ListarCursosAsync();
    }

    private async Task RegistrarCurso()
    {
        try
        {
            await cursoService.RegistrarCursoAsync(curso);
            blazorStrap.Toaster.Add("¡Curso registrada exitosamente!", options => options.CloseAfter = 5000);
            cursos = await cursoService.ListarCursosAsync();
        }
        catch (Exception ex)
        {
            blazorStrap.Toaster.Add($"Error al registrar el curso: {ex.Message}", options => options.CloseAfter = 5000);
        }
    }

    private async Task DeleteCurso(int id)
    {
        try
        {
            await cursoService.EliminarCursoAsync(id);
            cursos.RemoveAll(c => c.Id == id);

            blazorStrap.Toaster.Add("Curso eliminado correctamente", o =>
            {
                o.Color = BSColor.Danger;
                o.HasIcon = true;
                o.CloseAfter = 5000;
            });
        }
        catch (Exception ex)
        {
            blazorStrap.Toaster.Add($"Error al eliminar el curso: {ex.Message}", options => options.CloseAfter = 5000);
        }
    }

    private string GetEditUrl(int id)
    {
        return $"cursos/edit/{id}";
    }

    private void CrearCurso()
    {
        navigation.NavigateTo("/cursos/agregarcurso");
    }
}
