@page "/"

<PageTitle>Home</PageTitle>

<h1 class="text-center mt-5">Bienvenido al sistema SCHOOL SYSTEM</h1>

<div class="text-center">
    <img src="/servicios-centroseducativos.png" width="600" height="400" />
</div>

<h2 class="text-center mt-5">Seleccione uno de los módulos del menú lateral</h2>
